/* LOGIN */
body.awal {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #808080, #303030);
    margin: 0;
    min-height: 100vh; /* Pastikan body mengambil full height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Untuk mengatur vertikal jika ada elemen lain */
}

.password-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

.password-field {
    background: #d1cece;
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    /* background-color: #e7e708; */
    color: #161515;
    font-size: 16px;
    /* box-shadow: inset 0 1px 3px rgba(240, 236, 2, 0.349); */
    margin: 0 auto; /* Untuk centering horizontal di dalam container */
}

.password-field:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgb(238, 235, 235);
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
